<html>
    <head>
        <title> JOKES </title>

       <link rel="stylesheet" type="text/css" href="css/design.css">  </link>

       
    </head>
    <body>
        <form id="myform">

            <Button id='btn'> JOKES </Button>
 
        </form>

        <p id='message'>  </p>

        <p id='message2'> </p>

         <h2 class='myname'> <marquee onmouseover="stop()" onmouseout="start()">   Created By : {{Name}}   </marquee> </h2>

         <script src='Javascript/javascript.js'> </script>

    </body>
</html>

